/* app.css */

/* Estilos gerais para todos os dispositivos */

  .App{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
  }


/* Estilos específicos para dispositivos móveis */
@media screen and (max-width: 768px) {
  .App {
    padding: 20px;
  }
}

/* Estilos específicos para tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .App {
    max-width: 768px;
    padding: 40px;
    border-radius: 8px;
 }
}